.footer-container {
  background-color: var(--bg-color);
  margin: 0;
  bottom: 0;
  text-align: center;
  padding: var(--header-footer-padding) var(--content-padding);
  font-size: var(--footer-font-size);
  height: var(--header-footer-height);
}
.footer {
  color: var(--font-on-bg);
  margin: 0;
  line-height: var(--logo-height);
}
