@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

.header-container {
  display: flex;
  align-items: center;
  width: var(--full-viewport-width);
  background-color: var(--bg-color);
  margin: 0;
  box-sizing: border-box;
  position: fixed;
  left: var(--center-position);
  right: var(--center-position);
  transform: translateX(-50%);
  top: 0;
  padding: var(--header-footer-padding) var(--content-padding);
  z-index: var(--fixed-z-index);
  height: var(--header-footer-height);
}
.logo {
  height: var(--logo-height);
  margin-right: var(--logo-margin-right);
  margin-left: var(--logo-margin-left);
}
.title {
  font-family: var(--header-title-font);
  color: var(--font-on-bg);
}
