<div class="header-container fixed-full-width flex-between">
  <div class="header-left flex-center">
    <img
      src="assets/logo.png"
      alt="Logo"
      class="logo"
    />
    <h2 class="title">{{ title() }}</h2>
  </div>
  <div class="header-right flex-center">
    <label class="theme-toggle-switch">
      <input
        type="checkbox"
        [checked]="themeService.isDarkMode()"
        (change)="toggleTheme()"
      />
      <span class="slider">
        <mat-icon class="slider-icon">{{
          themeService.isDarkMode() ? 'sunny' : 'mode_night'
        }}</mat-icon>
      </span>
    </label>
  </div>
</div>
