mat-dialog-content {
  margin: var(--content-padding) auto;
  padding: var(--content-padding);
  width: calc(100vw - calc(var(--content-padding) * var(--dialog-content-multiplier)));
  max-width: var(--dialog-max-width);
  overflow-y: hidden;
}

mat-dialog-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: var(--dialog-min-height);
}

mat-dialog-content mat-form-field {
  width: 100%;
  text-align: center;
  padding-top: var(--dialog-error-spacing);
  padding-bottom: var(--dialog-error-spacing);
}

::ng-deep mat-dialog-content .mat-mdc-form-field-error {
  text-align: left;
  font-size: var(--dialog-error-font-size);
}
