:host {
  box-sizing: border-box;
  display: block;
  height: var(--full-viewport-height);
  background-color: var(--card-bg);
  color: var(--text-primary);
}

.app-container {
  display: flex;
  flex-direction: column;
  height: var(--full-viewport-height);
  overflow: hidden;
  background-color: var(--card-bg);
  color: var(--text-primary);
}

.main-content {
  flex: 1;
  margin-top: var(--header-footer-height);
  margin-bottom: var(--header-footer-height);
  overflow-y: auto;
  padding: var(--content-padding);
  box-sizing: border-box;
  background-color: var(--card-bg);
  color: var(--text-primary);
}
